<plugin name='slideware' version='0.1' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Griffon based slideware</title>
  <documentation>http://griffon.codehaus.org/Slideware+Plugin</documentation>
  <dependencies>
    <plugin name='transitions' version='0.1.2' />
    <plugin name='css-builder' version='0.2' />
    <plugin name='gfx-builder' version='0.2.1' />
    <plugin name='jide-builder' version='0.2' />
    <plugin name='swingx-builder' version='0.1' />
    <plugin name='jbusycomponent' version='0.1' />
  </dependencies>
</plugin>