<plugin name='slideware' version='0.3' griffonVersion='0.9 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Griffon based slideware</title>
  <description>Griffon based slideware</description>
  <documentation>http://griffon.codehaus.org/Slideware+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>griffon.slideware.CodeEditorActions</resource>
    <resource>griffon.slideware.DeckOptionsActions</resource>
    <resource>griffon.slideware.DeckPlayerActions</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>griffon.slideware.CodeEditorController</resource>
    <resource>griffon.slideware.DeckOptionsController</resource>
    <resource>griffon.slideware.DeckPlayerController</resource>
    <resource>griffon.slideware.CodeEditorModel</resource>
    <resource>griffon.slideware.DeckOptionsModel</resource>
    <resource>griffon.slideware.DeckPlayerModel</resource>
    <resource>griffon.slideware.CodeEditorView</resource>
    <resource>griffon.slideware.DeckOptionsDialogs</resource>
    <resource>griffon.slideware.DeckOptionsView</resource>
    <resource>griffon.slideware.DeckPlayerView</resource>
    <resource>griffon.slideware.EditorStyles</resource>
  </resources>
  <dependencies>
    <plugin name='transitions' version='0.3' />
    <plugin name='css-builder' version='0.6' />
    <plugin name='jide-builder' version='0.4' />
    <plugin name='glazedlists' version='0.4' />
    <plugin name='jbusycomponent' version='0.4' />
    <plugin name='lookandfeel' version='0.1' />
  </dependencies>
</plugin>